# Ignore system files
.DS_Store
Thumbs.db

# Ignore checkpoint folders created by Jupyter
.ipynb_checkpoints/

# Ignore any local environment files
*.env

# Ignore Word temporary files and reports
~$*.docx
*.tmp
20241087_Shane_Rowell_Report.docx
